<h1>Create a student....</h1>
<form action="/students" method="post" >
  <label for="name">NAME</label><br>
  <input type="text" name="name"><br>
  <label for="quote">QUOTE</label><br>
  <input type="text" name="quote">
  <input type="submit" value="Submit">
</form>
